<div class="py-5 mb-5 ">
    <div class="row">
        <div class="col-12 text-center pt-4 pb-5">
            <p class="fs-2"> Technology Suite </p>
            <div class="titel-devider my-3"></div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-primary text-white fs-5 py-3">
                    <i class="bi bi-pc-display-horizontal float-end"></i>
                    <p class="mb-0"> UI Development: </p>
                </li>
                <li class="list-group-item">Angular JS</li>
                <li class="list-group-item">TypeScript</li>
                <li class="list-group-item">HTML5</li>
                <li class="list-group-item">CodeKit</li>
                <li class="list-group-item">WebStorm</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-success text-white fs-5 py-3">
                    <i class="bi bi-graph-up float-end"></i>
                    <p class="mb-0"> Analytics: </p>
                </li>
                <li class="list-group-item">MicroStrategy</li>
                <li class="list-group-item">Qlikview</li>
                <li class="list-group-item">SFDC</li>
                <li class="list-group-item">Spotfire</li>
                <li class="list-group-item">TIBCO</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-info text-white fs-5 py-3">
                    <i class="bi bi-database-fill-gear float-end"></i>
                    <p class="mb-0"> Database: </p>
                </li>
                <li class="list-group-item">SQL/PL/SQL </li>
                <li class="list-group-item">SQL DBA</li>
                <li class="list-group-item">Oracle DBA</li>
                <li class="list-group-item">Hadoop</li>
                <li class="list-group-item">DataStage</li>
            </ul>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-danger text-white fs-5 py-3">
                    <i class="bi bi-card-list float-end"></i>
                    <p class="mb-0"> ERP: </p>
                </li>
                <li class="list-group-item">Oracle Ebs </li>
                <li class="list-group-item">OBIA </li>
                <li class="list-group-item"> Oracle Apps Financials </li>
                <li class="list-group-item"> OBIEE </li>
                <li class="list-group-item"> BW </li>
                <li class="list-group-item">ODI </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-info text-white fs-5 py-3">
                    <i class="bi bi-code-square float-end"></i>
                    <p class="mb-0"> Programming Languages: </p>
                </li>
                <li class="list-group-item">Java </li>
                <li class="list-group-item"> .NET </li>
                <li class="list-group-item"> Python</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-warning text-white fs-5 py-3">
                    <i class="bi bi-check2-square float-end"></i>
                    <p class="mb-0"> QA Automation: </p>
                </li>
                <li class="list-group-item"> QTP </li>
                <li class="list-group-item">Selenium </li>

            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-primary text-white fs-5 py-3">
                    <i class="bi bi-eye float-end"></i>
                    <p class="mb-0"> Visualization Tools: </p>
                </li>
                <li class="list-group-item"> Tableau </li>

            </ul>
        </div>

    </div>
</div>