.why-us{
    background: Url("assets/images/bg-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-us{
    background: linear-gradient(180deg, #00000094, #00000094), Url("assets/images/bg-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

