<v-header></v-header>
<div class="why-us py-5" id="whyus">
   <div class="container">
      <div class="row">
         <div class="col-12 text-center my-4">
            <h2 class=""> WHY CHOOSE US</h2>
            <div class="titel-devider my-4"></div>
         </div>
         <div class="col-md-6">
            <div class="border shadow-sm p-4 py-5 h-100">
               <p class="fs-3"> WHAT MAKES US DIFFERENT </p>
               <p>We provide a total commitment to our customers to surpass their expectations in quality and
                  service with a transparency of all process and at all levels. To achieve the best, we work
                  as a team in our offices and nothing is outsourced in order to be a leader and to constantly
                  improve ourselves and our services by delivering not just the better but The Best.</p>

               <p class="fs-5">We help clients in 3 ways:</p>
               <p>1. Strategy & Planning Business modeling, lean strategy and rapid prototyping
               </p>
               <p> 2. Web & Mobile User experience and user interface design</p>
               <p> 3. Custom Apps Enterprise web applications, business tools and custom API creation </p>
            </div>
         </div>
         <div class="col-md-6 mt-4 mt-md-0">
            <div class="border shadow-sm p-4 py-5 h-100">
               <p class="fs-3"> CLIENT CONFIDENTIALITY </p>
               <p class="fs-5">
                  "We understand the importance of agreement, its confidentiality and how much it's important
                  for you."
               </p>
               <p> At DPR solutions, we understand the importance for Confidential Web Development and clients'
                  project information and data confidentiality and ensure that all is kept in tight covered
                  with restricted access only to people who are authorized by the client and the management.
                  To ensure Confidential Application Development, we sign a Non Disclosure Agreement with all
                  our clients whereas all details about the project confidentiality are discussed openly with
                  the client in order to come to a mutual consent for security issues. It discusses important
                  topics such as what and how much data is to be collected from the client, authorize personal
                  to access that data, and discussing and agreeing on the risk within the project domain.</p>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="contact-us py-5" id="contactus">
   <div class="container">
      <v-contact-us></v-contact-us>
   </div>
</div>


