<div class="row py-5">
    <div class="col-md-6">
        <h2 class="text-white"> Contact Us</h2>
        <div class="titel-devider-left my-4"></div>
        <p class="fs-3 text-white mb-4"> We'd love to hear about your project. Let's talk. </p>
        <p class="fs-6 text-white ">
            <i class="bi bi-geo-alt me-2"></i>
            <span> Lebanon, Beirut
                Sin El Fil, El Hayek Roundabout, Arcom Center, 1st Floor
            </span>
        </p>
        <p class="fs-6 text-white">
            <i class="bi bi-envelope me-2"></i>
            <span> info@v2globaltechnologies.com</span>
        </p>
        <p class="fs-6 text-white">
            <i class="bi bi-phone me-2"></i>
            <span> 9990008880 </span>
        </p>
       
    </div>
    <div class="col-md-6">
        <mat-card>
            <mat-card-content class="p-4 p-md-5">
                <form>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Full name </mat-label>
                        <input matInput placeholder="Full name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Company Name </mat-label>
                        <input matInput placeholder="Company Name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Email </mat-label>
                        <input matInput placeholder="Email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Phone Number</mat-label>
                        <input matInput placeholder="Phone Number">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Message</mat-label>
                        <textarea matInput> </textarea>
                    </mat-form-field>
                    <div class="text-center">
                        <button mat-raised-button color="primary" class="px-5 py-4">Submit</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </div>
</div>