<div class="services">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="fs-5 text-muted">SERVICES WE'RE PROVIDED</p>
            <!-- <p class="fs-1">We do all Creative Services</p> -->
            <div class="titel-devider my-4"></div>
            <!-- <p class="fs-6 text-muted lh-base">We craft digital, graphic and dimensional thinking, to create category
                leading brand experiences that have meaning and add a value.</p> -->
        </div>
    </div>

    <div class="row py-4 g-4">
        <div class="col-12">
            <div>
                <p class="fs-2">Recruiting and Staffing</p>
                <div class="titel-devider-left my-3"></div>
            </div>
            <div>
                <p>DPR Solutions Inc’s job placement services are tailored to IT professionals and IT executives who
                    are equipped to take on challenging roles at top-notch companies.</p>
                <p>We respect your time as well as the confidentiality of your project requirements and job search.
                    We committed to our clients’ and candidates’ success. We have a fully dedicated Information
                    Technology Search and Recruiting Team, specializing in consulting services and full-time
                    placement of experienced Information Technology professionals. Our staff will successfully guide
                    you to opportunities that will advance your career!</p>
            </div>
            <div>
                <p class="fs-4 text-info">Our selection process includes</p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> Candidates Screening and Testing</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Coordination of Candidate Interview</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Reference Checks</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Background checks</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Facilitation with information and negotiation
                        of job offers</li>
                </ul>
                <p>
                    We have instituted <span class="text-info">“Best Practices” </span> and we are recognized for
                    our results, quality of service
                    and our integrity. We maintain a large database of professionals and can provide our clients
                    with a wide range of Information Technology resources, which consists of:
                </p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> ERP: SAP, People soft, Oracle financials, JD
                        Edwards </li>
                    <li> <i class="bi bi-record-circle me-1"></i> EJB Architects and Integration Specialists</li>
                    <li> <i class="bi bi-record-circle me-1"></i> WebSphere/WebLogic Developers</li>
                    <li> <i class="bi bi-record-circle me-1"></i>Datawarhousing Experts (Architects, Designers and
                        Developers) </li>
                    <li> <i class="bi bi-record-circle me-1"></i> Database Administrators and Developers [Oracle,
                        DB2, UDB, Sybase, Informix, Sqlserver]</li>
                    <li> <i class="bi bi-record-circle me-1"></i> WAP Protocol (Architects, Designers and
                        Developers)</li>
                    <li> <i class="bi bi-record-circle me-1"></i> JAVA (Architects, Designers and Developers)</li>
                    <li> <i class="bi bi-record-circle me-1"></i> NET (Architects, Designers and Developers)</li>
                    <li> <i class="bi bi-record-circle me-1"></i> QA Testing with Java/Selenium</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Middleware Experts [MQ Series, Corba]</li>
                    <li> <i class="bi bi-record-circle me-1"></i> UNIX AND NETWORK Administrators [SUN, HP, AIX,
                        Linux, WINDOWS NT]</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Actuarial experts for insurance industries</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Clinical Trials and validation experts</li>
                    <li> <i class="bi bi-record-circle me-1"></i> SAS and Oracle clinical programmers</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Mainframe experts [CICS, COBOL, DB2]</li>

                </ul>
            </div>
        </div>
        <div class="col-12">
            <div>
                <p class="fs-2">Training and Placement </p>
                <div class="titel-devider-left my-3"></div>
            </div>
            <div>
                <p>We at DPR Solutions Inc offer a variety of programs and certification courses that can help you
                    advance your career in some of the most demanding fields like IT. These fields have tremendous
                    growth opportunities for someone looking for a change in career or a new direction for growth.</p>
            </div>
            <div>
                <p class="fs-4 text-info">Career Based Training</p>
                <p>DPR Solutions Inc is a providing customized training solutions and we consider our role in career
                    training to be one of the facilitations, where the skills of each individual student are evaluated
                    through, not only classroom instruction but also through the professional insight of the trainers.
                    We also provide online trainings for many courses, however we will conduct contact sessions with
                    every student to know and equip better to build their career.</p>

                <p class="fs-4 text-info">Student Placement</p>
                <p>DPR Solutions Inc takes a proactive approach in the job placement of its students. The mission of the
                    DPR Solutions Inc career placement service is to help students clarify their educational and career
                    goals, as well as acquire the skills to gain their desired employment.</p>

                <p class="fs-4 text-info">In-House Training Programs</p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> Java, J2EE</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Microsoft.Net</li>
                    <li> <i class="bi bi-record-circle me-1"></i> ERP</li>
                    <li> <i class="bi bi-record-circle me-1"></i> QA Testing with Java/Selenium</li>
                </ul>

                <p class="fs-4 text-info">Highlights</p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> Top Notch Trainers</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Evening and Weekend Batches</li>
                    <li> <i class="bi bi-record-circle me-1"></i> We have 100% success rate in the placements from our
                        previous batches</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Training and 100% Placement Assistance</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Sponsorship Available [For selected internationals]
                    </li>
                    <li> <i class="bi bi-record-circle me-1"></i> Accommodation could be considered for candidates
                        subject to availability and earlier registration</li>
                </ul>

                <p class="fs-4 text-info">JAVA DEVELOPMENT</p>
                <p> We develop custom solutions that are tailored specifically to address your unique business needs.
                    IBM, a world leading J2EE vendor, employs DPR Solutions Inc, to develop large-scale J2EE software
                    projects and evaluate their emerging technologies. DPR Solutions Inc., delivers effective Java/J2EE
                    solutions across multiple business domains.</p>

                <p class="fs-4 text-info">Why US</p>
                <p>The J2EE Team at DPR Solutions Inc., is committed to the delivery of quality J2EE solutions. Our team
                    has gained recognition from both large and small customers for its high professional level in J2EE
                    development.</p>
                <p>Our alliance with IBM gives us competitive exposure to cutting-edge J2EE techniques. Our unique
                    hands-on expertise in J2EE allows us to deliver large and small Web services that are reliable,
                    fault-tolerant and scalable to meet your growing business needs.</p>
                <p>DPR Solutions Inc’ engineers have long-term experience in creating J2EE applications of different
                    scales – from enterprise infrastructure components to complex integrated solutions. A typical J2EE
                    solution is a web application that consists of a web browser as a client, application server, and a
                    database.</p>
                <p>To ensure effective project control and guarantee achievement of project goals, the J2EE Team employs
                    a well-established software development process and quality control. Our software development
                    methodology ensures development process transparency for our customers in all project phases.</p>
                <p>Our experts engage proven existing and emerging technologies to deliver solutions that most
                    effectively address customer needs. We deliver the solution that fits your time, budget, and
                    business requirements.</p>

                <p class="fs-4 text-info">What We Do</p>
                <p>DPR Solutions Inc Solutions, Inc. has proven experience in delivering reliable .NET applications. We
                    develop custom solutions specifically tailored to address your individual business needs. We serve
                    customers from multiple business domains and deliver .NET solutions ranging from small mobile
                    applications to enterprise-wide integrated systems.</p>
                <p>To provide the customer with competitive high-end .NET solutions, DPR Solutions Inc, has established
                    a dedicated .NET department. Microsoft technologies traditionally have been a core technological
                    concentration for us.</p>
                <p>As a Microsoft Certified Partner, DPR Solutions Inc, Inc. has immediate access to all .NET
                    initiatives from Microsoft. This allows us to implement cutting edge development techniques to
                    deliver .NET solutions to our customers.</p>

                <p class="fs-4 text-info">Core Strengths</p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> ASP.NET development</li>
                    <li> <i class="bi bi-record-circle me-1"></i> .NET Compact Framework development </li>
                    <li> <i class="bi bi-record-circle me-1"></i> Web services development</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Web controls development</li>
                    <li> <i class="bi bi-record-circle me-1"></i> ASP.NET mobile controls development </li>
                    <li> <i class="bi bi-record-circle me-1"></i> Distributed applications design and development </li>
                    <li> <i class="bi bi-record-circle me-1"></i> Database design and development</li>
                </ul>

                <p class="fs-4 text-info">Enterprise Resource Planning</p>
                <p>Enterprise Resource Planning (ERP) promotes a fully integrated systems approach, enables companies to
                    cut costs, operate more efficiently, be more responsive to Client demands, reduce turnover and
                    assist staff in reaching peak performance in all the services and products they offer. DPR Solutions
                    Inc Solutions Inc.,’ ERP services can help you gain maximum value from your enterprise application
                    systems, whether you are implementing an ERP solution or upgrading existing systems to improved
                    Web-enabled systems, or optimizing existing systems to improve value.</p>

                <p class="fs-4 text-info"> Our ERP Expertise :</p>
                <ul type="none" class="services-list">
                    <li> <i class="bi bi-record-circle me-1"></i> SAP</li>
                    <li> <i class="bi bi-record-circle me-1"></i> Oracle Applications</li>
                    <li> <i class="bi bi-record-circle me-1"></i> PeopleSoft</li>
                </ul>

            </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <p class="fs-2">We do all Creative Services</p>
            <div class="titel-devider my-4"></div>
        </div>
    </div>
    <div class="row py-5 g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col" *ngFor="let service of myServices">
            <div class="services-card shadow-sm">
                <div class="row align-items-center ">
                    <div class="col-3">
                        <img [src]="service.image" alt="Banking and Finance" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <p class="fs-4 my-4"> {{service.title}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>