@import 'src/scss/_variables.scss';

.services {
    padding: 2.5rem 0rem;

    &-card {
        padding: 1rem;
        // border: 2px solid $info;
        border-left: 3px solid $info;

        img {
            width: 60px;
            height: 60px;
        }
    }

    &-list{
        li{
            margin-bottom: 1rem;
        }
    }
    // .box-shadow {
    //     box-shadow: 0px 10px 22px rgb(0 0 0 / 5%);
    // }
}