<div class="about-us">
    <div class="row align-items-center vh-100">
        <div class="col-md-6">
                <h2 class="text-white"> ABOUT OUR COMPANY</h2>
                <div class="titel-devider-left my-4"></div> 
                <p class="fs-5 text-white">
                    DPR solutions is a professional web development company that is powered with the best talent and
                    most modern technology for online solutions. Our company is located in Sin El Fil - Beirut, Lebanon.
                    It provides a wide range of online solutions concerning the World Wide Web for all types of
                    businesses in all industries, and around the world.

                    Our job is to offer professional website designs and development, search engine optimization,
                    e-commerce solutions, e-business applications, web applications, mobile applications and usability
                    consulting services for companies and adding agencies of all types and sizes. Therefore, our work is
                    attached to companies needing their e-business to produce results.
                </p>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>