<div>
    <div class="parallax" id="home">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-12 col-md-6 text-center">
                <h1 class="title">IMAGINE IMAGINEIMAGINE </h1>
                <p class="fs-4 text-white-50 pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
                    laudantium. Commodi delectus ratione eligendi molestiae a cumque eaque, voluptatibus ipsam,
                    deleniti, quo eos molestias inventore labore expedita voluptas adipisci tempora!</p>

            </div>
        </div>
    </div>
    <div class="text-div" >
        <div class="bg-light" id="services">
            <div class="container">
                <v-services></v-services>
            </div>
        </div>
        <div id="technologySuite">
            <div class="container">
                <v-technology-suite></v-technology-suite>
            </div>
        </div>
    </div>
    <div class="parallax-2" id="aboutus">
        <div class="container">
            <v-about-us></v-about-us>
        </div>
    </div>
</div>