.parallax {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background: Url("assets/images/bg-1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .title {
        color: #ffffff;
        font-size: 4rem;
        overflow-wrap: break-word;
    }
}

.text-div {
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.parallax-2 {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background: Url("assets/images/bg-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


@media (max-width: 576px) {

    .parallax,
    .parallax-2 {
        width: 100%;
        position: relative;
        height: 100vh;
        min-height: 550px;
        padding: 20px;
    }
}