.careers {

    &-header {
        width: 100%;
        min-height: 600px;
        height: 85vh;
        background: linear-gradient(180deg, #00000094, #00000094), Url("assets/images/career-bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        .title {
            color: #ffffff;
            font-size: 4rem;
            overflow-wrap: break-word;
        }
    }
    &-search{
        background: Url("assets/images/search-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: start;

        .searchbtn{
            height: 55px !important;
        }
    }

    &-offers{
        
    }
}