<div class="careers">
    <div class="careers-header">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-6 text-center">
                <p class="fs-4 text-white">Careers at V2 Global Technologies</p>
                <h1 class="title">Work with us </h1>
                <p class="fs-4 text-white-50 pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
                    laudantium. Commodi delectus ratione eligendi molestiae a cumque eaque </p>
            </div>
        </div>
    </div>
    <div class="careers-search py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-7">
                    <div class="mb-4">
                        <h2 class="text-center">Looking for best career? </h2>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-9">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Search</mat-label>
                                    <input matInput placeholder="Example:- Angular">
                                    <mat-icon matSuffix>search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <button mat-raised-button color="primary" class="searchbtn w-100 ">
                                    <mat-icon matSuffix>search</mat-icon>
                                    <span class="ms-1"> Search</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="careers-offers py-5 bg-light">
        <div class="container">
            <div class="mb-5">
                <h2>Looking for best career?</h2>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" *ngFor="let item of careerJobs">
                    <mat-card class="shadow-sm">
                        <mat-card-content class="p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="fs-4 mb-1">{{item.title}}</p>
                                    <div class="titel-devider-left mb-3"></div>
                                </div>
                                <button mat-mini-fab color="primary">
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>
                            <p>
                                {{item.description}}
                            </p>
                            <div>
                                <p class="fs-5">Requirements</p>
                                <mat-chip-listbox aria-label="Fish selection">
                                    <mat-chip-option *ngFor="let requirement of item.requirements">{{requirement}}</mat-chip-option>
                                </mat-chip-listbox>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

    </div>
</div>