<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top py-0">
    <div class="container">
        <a class="navbar-brand" href="javascript:void(0)" (click)="goto('home')">
            <img src="assets/images/v2logo.svg" alt="logo" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [class.text-info]="selectedNavlink == 'home'" aria-current="page"
                        href="javascript:void(0)" (click)="goto('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.text-info]="selectedNavlink == 'services'" href="javascript:void(0)"
                        (click)="goto('services')">Services</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" [class.text-info]="selectedNavlink == 'technologySuite'" href="javascript:void(0)"
                        (click)="goto('technologySuite')">Technology Suite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.text-info]="selectedNavlink == 'aboutus'" href="javascript:void(0)"
                        (click)="goto('aboutus')">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.text-info]="selectedNavlink == 'contactus'" href="javascript:void(0)"
                        (click)="goto('contactus')">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/careers" routerLinkActive="text-info" (click)="selectedNavlink=''"
                        href="javascript:void(0)">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>