/* You can add global styles to this file, and also import other style files */
@use 'scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.titel-devider {
    width: 100px;
    height: 1px;
    background: #27aae1;
    background: linear-gradient(to right, transparent, #27aae1, transparent);
    margin: 0 auto;
  }
.titel-devider-left {
    width: 100px;
    height: 1px;
    background: #27aae1;
    background: linear-gradient(to right, #27aae1, transparent);
  }
  