@use '@angular/material'as mat;
@include mat.core();

// @import 'variables';

$my-primary: mat.define-palette(mat.$indigo-palette, 500); //#98c759
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn)));
 
@include mat.all-component-themes($my-theme);
