$primary: #3f51b5;
$secondary: #BEBFC4;
$success: #68b83f;
$info: #27aae1;
$warning: #ffd146;
$danger: #ff4056;
$light: #f1f2f4;
$white: #ffffff;
$dark: #454545;
$darker: #2f2f2f;
$balck: #000000;
$ink: #05053ac4;
//more
$muted: #919191;


$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "white": $white,
  "dark": $dark,
);

$border-radius: 2px;