<!-- Footer -->
<footer class="bg-info pt-5 text-white">
    <div class="container text-md-left pb-4">
        <div class="row">
            <div class="col-md-5 mt-md-0 mt-3">
                <h3 class="text-uppercase">
                    V2 Global Technologies
                </h3>
                <p>DPR Solutions Inc. is an IT professional services firm providing expertise to empower client's
                    businesses. We have proven expertise in the areas of Application Development, Business Intelligence,
                    Enterprise Resource Planning, Infrastructure Optimization, Customer Relationship Management, IT
                    Service Management and Anypoint Platform that improves business performance.</p>

            </div>
            <div class="col-md-3 mb-md-0 mb-3 text-center">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [class.text-primary]="selectedNavlink == 'home'" aria-current="page"
                            href="javascript:void(0)" (click)="goto('home')">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.text-primary]="selectedNavlink == 'services'"
                            href="javascript:void(0)" (click)="goto('services')">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [class.text-primary]="selectedNavlink == 'technologySuite'"
                            href="javascript:void(0)" (click)="goto('technologySuite')">Technology Suite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.text-primary]="selectedNavlink == 'aboutus'"
                            href="javascript:void(0)" (click)="goto('aboutus')">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [class.text-primary]="selectedNavlink == 'contactus'"
                            href="javascript:void(0)" (click)="goto('contactus')">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/careers" routerLinkActive="text-primary"
                            (click)="selectedNavlink=''" href="javascript:void(0)">Careers</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-md-0 mb-3">
                <p> <b> USA :</b> 44345 Premier Plaza, STE#130 Ashburn VA 20147</p>
                <p> <b> Phone :</b> +1 703-726-1654</p>
                <p> <b> Fax: </b> +1 703-997-2295 </p>
                <p> <b> Email :</b> hr@dprsolutionsinc.com</p>
            </div>
        </div>

    </div>
    <div class="bg-primary">
        <div class="container  d-flex justify-content-between align-items-center">
            <div class="footer-copyright py-3">© 2023 Copyright: <a href="javascript:void(0)" class="text-white">
                    v2g.com</a> </div>
            <div>
                <button mat-mini-fab class="bg-primary" matTooltip="Facebook">
                    <i class="bi bi-facebook"></i>
                </button>
                <button mat-mini-fab class="bg-info ms-1"  matTooltip="Twitter">
                    <i class="bi bi-twitter"></i>
                </button>
                <button mat-mini-fab  class="bg-danger ms-1" matTooltip="Globe">
                    <i class="bi bi-globe"></i>
                </button>
                <button mat-mini-fab class="bg-info ms-1" matTooltip="LinkedIn">
                    <i class="bi bi-linkedin"></i>
                </button>
                
            </div>
        </div>
    </div>
</footer>